<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Firefox" />
    <package id="GoogleChrome" />
    <package id="7zip" />
    <package id="notepadplusplus" />
    <package id="openjdk" />
    <package id="keepass" />
    <package id="syncback" />
    <package id="adobereader" />
</packages>